
<footer class="footer sticky-bottom bg-light pt-3 mt-auto">
    <div class="container-fluid">
        <span class="text-muted">
            <p class="text-center">&copy;Rent in Hamilton 2022</p>
        </span>
    </div>
</footer>