<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/font.css" />
<div class="row">
    <h1 class="text-center">New House</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/houses" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="house[title]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="house[location]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">House Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="house[price]" required>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="house[description]" required></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Choose files...</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add House</button>
            </div>
        </form>
        <a href="/houses">All Houses</a>
    </div>
</div>